.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#table,
.key {
  background-color: rgb(4, 4, 77);
  color: white;
  width: 60px;
  height: 40px;
}
.key {
  border: 0px;
}
input {
  width: 250px;
  height: 80px;
  background-color: rgb(23, 23, 155);
  color: white;
}
.input-right-aligned {
  text-align: right;
}
